<h1>Edite o seu Livro</h1>

<form action="/books/updatebook" method="post" class="form">
    <input type="hidden" name="id" value="{{book.id}}">
<div class="form-control">
    <label for="title">Titulo:</label>
    <input type="text" name="title" placeholder="Digite o título" value="{{book.title}}">
</div>
<div class="form-control">
    <label for="page">Quantidade de paginas: </label>
    <input type="text" name="page" placeholder="Digite o numero de paginas" value="{{book.page}}">
</div>
<input type="submit" value="Editar">
</form>